body {
    background-image: url("https://c1.wallpaperflare.com/preview/71/573/220/whitespace-business-office-blog-blogging-create.jpg");
    background-size: cover;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #8697C4;
    max-width: 90%;
    width: 400px;
    padding: 30px;
    border-radius: 20px;
}

#password {
    font-size: 1.5rem;
    text-align: center;
    height: 50px;
    width: 100%;
    border-radius: 8px;
    border: none;
    margin-bottom: 20px;
}

.heading {
    text-align: center;
    color: brown;
    margin-bottom: 20px;
}

.div {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.button {
    display: block;
    font-size: 1.5rem;
    border-radius: 8px;
    padding: 10px;
    background-color: green;
    color: white;
    border: none;
    cursor: pointer;
    width: 100%; 
    max-width: 200px; 
    margin: 0 auto; 
    transition: background-color 0.3s ease; 
}

.button:hover {
    background-color:  #4CAF50;
}

@media(max-width: 600px){
    .button{
        font-size: 1.2rem;
        padding: 8px;
        max-width: 150px;
    }
}

@media(max-width: 400px){
    .button{
        font-size: 1rem;
        padding: 6px;
    }
}
